* {

  box-sizing: border-box;
  margin: 0;

}

html {

  scroll-behavior: smooth;
  // overflow: hidden;

}

body {
  
  margin: 0;
  min-height: 100vh;
  background-color: #041F31;

  &::-webkit-scrollbar {
    display: none;
  }

}

#root {

  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  min-height: 100vh;

}